img {
    border-radius: 50%;
        width: 72px;
        height: 72px;
        margin:auto;
        border: 2px solid var(--ion-color-primary-contrast);
        box-shadow: inset 0px 0px 0px 10px var(--ion-color-primary-contrast);
  }